.profile{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-top: 3px solid red;
    border-right: 3px solid blue;
    border-bottom: 3px solid green;
    border left: 3px solid rgb(247, 167, 27);
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 50px;
    font-weight: 900px
    /* border: 1px solid black;
    border-radius: 50%; */
}